.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;
}

main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 150px;
  padding-top: calc(var(--nav-height) + 20px);
}

@media (max-width: 1080px) {
  main {
    padding: 0 100px;
    padding-top: calc(var(--nav-height) + 10px);
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 50px;
    padding-top: calc(var(--nav-height) + 20px);
  }
}

@media (max-width: 480px) {
  main {
    padding: 0 25px;
    padding-top: calc(var(--nav-height) + 20px);
  }
}

@media (max-width: 320px) {
  main {
    padding: 0 15px;
    padding-top: calc(var(--nav-height) + 20px);
  }
}